<!-- Navigation Panel -->
<nav class="main-nav dark transparent light-after-scroll stick-fixed wow-menubar wch-unset">
    <div class="main-nav-sub container">

        <!-- Logo  -->
        <div class="nav-logo-wrap position-static pe-lg-4 me-lg-5 local-scroll">
            <a href="#home" class="logo">
                <img src="../../../assets/images/Logo-Lifenet-PNG-Branca.png" alt="Logo Lifenet" width="95" height="40"
                    class="logo-white" />
                <img src="../../../assets/images/Logo.png" alt="Logo Lifenet" width="95" height="40" class="logo-dark" />
            </a>
        </div>

        <!-- Mobile Menu Button -->
        <div class="mobile-nav" tabIndex="0" role="button">
            <i class="mobile-nav-icon"></i>
            <span class="visually-hidden">Menu</span>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist local-scroll justify-content-start">
                <li><a href="#home" class="active" data-btn-animate="y">Home</a></li>
                <li><a href="#about" data-btn-animate="y">Quem somos?</a></li>
                <li><a href="#plans" data-btn-animate="y">Planos</a></li>
                <li><a href="#contact" data-btn-animate="y">Contato</a></li>
            </ul>

            <ul class="items-end clearlist local-scroll">

                <li>
                    <a href="http://www.lifenet.com.br/ca/#/login" target="_blank" class="opacity-1 no-hover" rel="noopener" >
                        <!-- Button visible before body scrolling -->
                        <span class="btn btn-mod btn-border-w-light btn-small btn-round scrolled-hidden"
                            data-btn-animate="y">Central do Assinante</span>
                        <!-- Button visible after body scrolling -->
                        <span class="btn btn-mod btn-w btn-border-c btn-small btn-round scrolled-visible"
                            data-btn-animate="y">Central do Assinante</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Main Menu -->

    </div>
</nav>
<!-- End Navigation Panel -->