<!-- Contact Section -->
<section class="page-section py-5" id="contact">
    <div class="container position-relative">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">

                <h2 class="section-caption-gradient mb-20 mb-xs-10">Contato</h2>

                <div class="section-line-gradient mx-auto mb-20"></div>

                <h3 class="section-title mb-40 mb-sm-30">Ficou com dúvidas? Fale conosco!
                </h3>

                <p class="text-gray mb-60 mb-sm-40">
                    Nossa missão é manter todos conectados e capacitados, trazendo o mundo até você,
                    independentemente de onde você esteja. Para facilitar a comunicação e estar sempre
                    próximo de você, temos escritórios estrategicamente localizados nos três municípios
                    abaixo.
                </p>
            </div>
        </div>

        <div
            class="d-flex gap-2 py-3 flex-column flex-lg-row justify-content-between align-items-strech justify-content-lg-center">

            <div class="col-lg-4 mb-md-50 mb-sm-30 position-relative z-index-1">

                <hr class="mt-0 mb-20 mb-sm-10" />

                <div class="contact-item">
                    <div class="ci-icon ci-icon-grad">
                        <i class="mi-location"></i>
                    </div>
                    <h4 class="ci-title">
                        Francisco Beltrão - PR
                    </h4>
                    <div class="ci-text">Av. Atílio Fontana, 3.786 - Sala 01 - Pinheirinho</div>
                    <div class="ci-text">
                        <a target="_blank" href="https://bit.ly/LifenetFcoBeltrao"> (46) 9 9974 - 0206 <i
                                class="fa-whatsapp"></i></a>
                    </div>
                    <div class="ci-link">
                        <a target="_blank" href="https://maps.app.goo.gl/FMQNJfMzwZ2FZjsw8" rel="nofollow noopener">Ver
                            no
                            mapa</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 mb-md-50 mb-sm-30 position-relative z-index-1">

                <hr class="mt-0 mb-20 mb-sm-10" />

                <div class="contact-item">
                    <div class="ci-icon ci-icon-grad">
                        <i class="mi-location"></i>
                    </div>
                    <h4 class="ci-title">
                        Marmeleiro - PR
                    </h4>
                    <div class="ci-text">Av. Macali, 364 - Centro</div>
                    <div class="ci-text">
                        <a target="_blank" href="https://bit.ly/LifenetMarmeleiro"> (46) 9 9974 - 0215 <i
                                class="fa-whatsapp"></i></a>
                    </div>
                    <div class="ci-link">
                        <a target="_blank" href="https://maps.app.goo.gl/C45h2nJaA1Qkkhbs9" rel="nofollow noopener">Ver
                            no
                            mapa</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 mb-md-50 mb-sm-30 position-relative z-index-1">

                <hr class="mt-0 mb-20 mb-sm-10" />

                <div class="contact-item">
                    <div class="ci-icon ci-icon-grad">
                        <i class="mi-location"></i>
                    </div>
                    <h4 class="ci-title">
                        Renascença - PR
                    </h4>
                    <div class="ci-text">Rua Wenceslau Bras, 129 - Sala B - Centro</div>
                    <div class="ci-text">
                        <a target="_blank" href="https://bit.ly/LifenetRenascenca"> (46) 9 9974 - 0215 <i
                                class="fa-whatsapp"></i></a>
                    </div>
                    <div class="ci-link">
                        <a target="_blank" href="https://maps.app.goo.gl/bpxrcFWht9H3WZndA" rel="nofollow noopener">Ver
                            no
                            mapa</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->