<!-- About Section -->
<section class="page-section py-5 bg-gradient-gray-light-2 bg-scroll" id="about">

    <div class="container position-relative">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">

                <div class="wow fadeInUp">

                    <h2 class="section-caption-gradient mb-20 mb-xs-10">Quem somos?</h2>

                    <div class="section-line-gradient mx-auto mb-20"></div>

                    <h3 class="section-title mb-40 mb-sm-30">Missão e Valores</h3>

                </div>

                <div class="row text-start text-gray mb-40 mb-sm-30">
                    <div class="col-md-12 mb-sm-20 wow linesAnimInLong" data-splitting="lines">
                        Na Lifenet Telecom, nossa missão é garantir a excelência em nossos serviços e no
                        atendimento, visando constantemente à satisfação e à confiança de nossos clientes.
                    </div>
                </div>

                <div class="row text-start text-gray mb-80 mb-sm-60">
                    <div class="col-md-6 mb-sm-20 wow linesAnimInLong order-0 order-sm-0" data-splitting="lines">
                        Guiados por um firme compromisso com os princípios fundamentais que sustentam nossa
                        empresa, nossa atuação é pautada por:
                    </div>

                    <div class="col-md-6 mb-sm-20 wow linesAnimInLong order-1 order-sm-2">
                        <ul>
                            <li>Responsabilidade Social</li>
                            <li>Transparência</li>
                            <li>Respeito</li>
                            <li>Honestidade</li>
                            <li>Comprometimento</li>
                            <li>Disciplina</li>
                        </ul>
                    </div>

                    <div class="col-md-6 mb-sm-20 wow linesAnimInLong order-2 order-sm-1" data-splitting="lines">
                        Estes valores são constantemente partilhados com nossos colaboradores, fornecedores
                        e, acima de tudo, com nossos valorizados clientes.
                    </div>

                    <div class="col-md-6 order-3 order-sm-3 text-center">
                        <img src="../../../assets/images/celular-1-1.png" alt="" style="width: 225px;">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- <hr class="mt-0 mb-40 mb-sm-20" /> -->

</section>
<!-- End About Section -->