<!-- Home Section -->
<section class="home-section bg-dark-1 bg-dark-alpha-70 light-content parallax-5"
    style="background-image: url(../../../assets/images/shutterstock_546124540.jpg)" id="home">

    <!-- Gradient Overlay -->
    <div class="bg-overlay bg-gradient-primary-2 opacity-05"></div>
    <!-- End Gradient Overlay -->

    <div class="container position-relative min-height-100vh overflow-hidden d-flex align-items-center pt-100 pb-100">

        <!-- Home Section Content -->
        <div class="home-content">
            <!-- <h1>
                <img src="../../../assets/images/Logo.png" width="75%">
            </h1>
            <br /> -->
            <h2 class="hs-line-14 text-outline-cont mb-40 mb-sm-20 wow fadeRotateIn">
                <span class="text-outline">Internet Fibra Óptica</span>
            </h2>

            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <p class="section-descr mb-50 mb-sm-40 wow fadeInUp" data-wow-delay="0.2s">
                        Agora sua casa ou empresa pode contar com Internet de qualidade e suporte
                        diferenciado. Confira nossos planos!
                    </p>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center">
                <div class="local-scroll wow fadeInUp wch-unset p-2" data-wow-delay="0.4s">
                    <a href="#plans" class="btn btn-mod btn-border-grad btn-large btn-round"
                        data-btn-animate="y">Nossos
                        Planos</a>
                </div>
                <div class="local-scroll wow fadeInUp wch-unset p-2" data-wow-delay="0.4s">
                    <a href="#contact" class="btn btn-mod btn-border-grad btn-large btn-round" data-btn-animate="y">
                        Fale
                        conosco!</a>
                </div>
            </div>

        </div>
        <!-- End Home Section Content -->

        <!-- Scroll Down -->
        <div class="local-scroll scroll-down-wrap wow fadeInUp" data-wow-offset="0">
            <a href="#about" class="scroll-down opacity-09"><i class="mi-chevron-down text-gradient"></i><span
                    class="visually-hidden">Próxima
                    seção</span></a>
        </div>
        <!-- End Scroll Down -->

    </div>
</section>
<!-- End Home Section -->

