<!-- Footer -->
<footer class="page-section py-5 footer bg-dark-1 light-content overflow-hidden pb-30">

    <!-- Background Shape -->
    <div class="bg-shape-4">
        <img src="../../../assets/images/demo-gradient/bg-shape-1.svg" alt="" />
    </div>
    <!-- End Background Shape -->

    <div class="container position-relative">

        <div class="row pb-120 pb-sm-80 pb-xs-50">

            <div class="col-lg-6 mb-md-50">

                <h2 class="section-title-small mt-n10 mb-30"><img
                        src="../../../assets/images/Logo-Lifenet-PNG-Branca.png" sizes="any"></h2>

                <p class="text-gray mb-40">
                    A Lifenet Telecom é uma empresa que trabalha oferecendo serviços de Internet fibra óptica
                    com qualidade no sinal, atendimento amigo e preço justo.
                </p>

                <div class="local-scroll">
                    <a href="https://web.whatsapp.com/send?phone=5546999740206&text=Ol%C3%A1!%20tudo%20bem?" target="_blank" class="btn btn-mod btn-medium btn-grad btn-round" data-btn-animate="y">Fale
                        conosco <i class="mi-arrow-right size-24 align-center"></i></a>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="row mt-n30">

                    <!-- Footer Widget -->
                    <!-- <div class="col-sm-4 mt-30">

                        <h3 class="fw-title">Contato</h3>

                        <ul class="fw-menu clearlist local-scroll">
                            <li class="text-gray">
                                <b> Francisco Beltrão - PR</b>
                                <p> Av. Atílio Fontana, 3.789 - Sala 01 - Pinheirinho
                                    <br>
                                    <a href="https://bit.ly/LifenetFcoBeltrao"> (46) 9 9974 - 0206 <i
                                            class="fa-whatsapp"></i></a>
                                </p>
                            </li>
                            <li class="text-gray">
                                <b> Marmeleiro - PR</b>
                                <p> Av. Macali, 364 - Centro
                                    <br>
                                    <a href="https://bit.ly/LifenetMarmeleiro"> (46) 9 9974 - 0215 <i
                                            class="fa-whatsapp"></i></a>
                                </p>
                            </li>
                            <li class="text-gray">
                                <b> Renascença - PR</b>
                                <p> Rua Wenceslau Bras, 129 - Sala B - Centro
                                    <br>
                                    <a href="https://bit.ly/LifenetRenascenca"> (46) 9 9974 - 0215 <i
                                            class="fa-whatsapp"></i></a>
                                </p>
                            </li>
                        </ul>

                    </div> -->
                    <!-- End Footer Widget -->


                    <!-- Footer Widget -->
                    <div class="col-sm-6 mt-30">

                        <h3 class="fw-title">Contrato</h3>

                        <p class="text-gray">
                            Efetue o Download do contrato de prestação de serviço Lifenet
                        </p>

                        <!-- <ul class="fw-menu clearlist">
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Presskit</a></li>
                                </ul> -->
                        <div class="local-scroll">
                            <a target="_blank" href="../../../assets/pdf/CONTRATO_LIFENET_2022.pdf" class="btn btn-mod btn-small btn-grad btn-round"
                                data-btn-animate="y">Download
                                Contrato</a>
                        </div>

                    </div>
                    <!-- End Footer Widget -->


                    <!-- Footer Widget -->
                    <div class="col-sm-6 mt-30">

                        <h3 class="fw-title">Siga-nos</h3>

                        <ul class="fw-menu clearlist">
                            <li>
                                <a href="https://www.facebook.com/provedorlifenet/" rel="noopener nofollow"
                                    target="_blank">
                                    <i class="fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/lifenetprovedor/" rel="noopener nofollow"
                                    target="_blank">
                                    <i class="fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                        </ul>

                    </div>
                    <!-- End Footer Widget -->

                </div>
            </div>

        </div>

        <!-- Footer Text -->
        <div class="row text-gray">

            <div class="col-md-4 col-lg-3">
                <b>© Lifenet Telecom 2023.</b>
            </div>

            <div class="col-md-7 offset-md-1 offset-lg-2 clearfix">

                <b>Todos os direitos reservados.</b>

                <!-- Back to Top Link -->
                <div class="local-scroll float-end mt-n20 mt-sm-10">
                    <a href="#top" class="link-to-top gradient">
                        <i class="mi-arrow-up size-24"></i>
                        <span class="visually-hidden">Topo da página</span>
                    </a>
                </div>
                <!-- End Back to Top Link -->

            </div>

        </div>
        <!-- End Footer Text -->

    </div>

</footer>
<!-- End Footer -->