<!-- Central do Assinante -->
<section class="small-section bg-gradient-light-1">
    <div class="container position-relative">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">

                    <div class="col-md-8 text-center text-md-start mb-sm-20 d-md-flex">
                        <div class="flex-shrink-0 me-md-4 pe-md-1 mb-sm-20">
                            <img src="../../../assets/images/lifenet-01-1.png" width="140" height="100"
                                alt="Image Description" />
                        </div>
                        <div class="d-flex align-items-center pt-2 pt-md-0">
                            <p class="section-descr-medium w-100 mb-0">
                                Precisando emitir 2ª Via de boleto, abrir um chamado ou acompanhar seus
                                dados conosco? Acesse agora:
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center text-md-end pt-20 local-scroll">
                        <a target="_blank" href="http://www.lifenet.com.br/ca/#/login"
                            class="btn btn-mod btn-medium btn-grad btn-round" data-btn-animate="y">Central
                            do Assinante <i class="mi-arrow-right size-24 align-center"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Central do Assinante -->