<!-- Services Section -->
<section class="page-section py-5" id="services">
    <div class="container position-relative">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">

                <h2 class="section-caption-gradient mb-20 mb-xs-10">Outros Serviços</h2>

                <div class="section-line-gradient mx-auto mb-20"></div>

                <h3 class="section-title mb-40 mb-sm-30">Temos mais soluções em Internet para você!</h3>

                <p class="text-gray mb-80 mb-sm-60">
                    Procurando soluções para seu negócio, ou tem alguma necessidade de serviço específica?
                    Consulte condições especiais que se encaixem melhor em suas necessidades!
                </p>

            </div>
        </div>

        <div class="row wow fadeInUp">

            <!-- Services Tabs -->
            <div class="col-lg-5 col-xl-4 mb-md-50 mb-sm-30">
                <ul class="nav nav-tabs services-7-tabs" role="tablist">
                    <li>
                        <a href="#services-item-1a" class="active" aria-controls="services-item-1a"
                            role="tab" aria-selected="true" data-bs-toggle="tab">
                            <h4 class="services-7-title">Internet Residencial</h4>
                            <div class="services-7-text">
                                Precisando de condições especiais para sua residencia?
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#services-item-1a" aria-controls="services-item-1a" role="tab"
                            aria-selected="false" data-bs-toggle="tab">
                            <h4 class="services-7-title">Internet Empresarial</h4>
                            <div class="services-7-text">
                                Precisando de condições especiais para sua empresa? <br />
                                <!-- Solicite um atendimento e confira nossas soluções em Internet para seu
                                negócio. -->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#services-item-2a" aria-controls="services-item-2a" role="tab" aria-selected="false"
                            data-bs-toggle="tab">
                            <h4 class="services-7-title">Internet Rural</h4>
                            <div class="services-7-text">
                                Precisando de Internet de qualidade para sua propriedade rural? <br />
                                <!-- Fale com a gente para verificar a disponibilidade para seu local. -->
                            </div>

                        </a>
                    </li>
                </ul>
                <div class="local-scroll wow fadeInUp wch-unset" data-wow-delay="0.4s">
                    <a target="_blank" href="https://bit.ly/LifenetFcoBeltrao" class="btn btn-mod btn-border-grad btn-small btn-round"
                        data-btn-animate="y"><i class="fa-whatsapp"></i> Quero saber mais!</a>
                </div>
            </div>
            <!-- End Services Tabs -->

            <!-- Services Images -->
            <div class="col-lg-7 offset-xl-1">
                <div class="tab-content position-sticky">

                    <!-- Tab Image -->
                    <div class="tab-pane active" id="services-item-1a" role="tabpanel">
                        <div class="services-7-content text-center">

                            <div class="services-7-image">
                                <img src="../../../assets/images/Menino-Celular-Lifenet-1024x1024.png" alt="Image Description"
                                    style="width: 600px;" />
                            </div>

                        </div>
                    </div>
                    <!-- End Tab Image -->

                </div>
            </div>
            <!-- End Services Images -->

        </div>

    </div>
</section>
<!-- End Services Section -->